/* START AUTOCOMPLETE */
.ac_holder{
	position:relative;
}
.ac_field{	
	/*background-image:url(images/autocomplete/autocomplete_leftcap.gif);*/
	background-position:right center;
	background-repeat:no-repeat;
}
.ac_field_busy{
	background-image:url(images/autocomplete/autocomplete_spinner.gif);
	background-position:right center;
	background-repeat:no-repeat;
}

div.autocomplete
{
	position: absolute;
	background-image: url(images/autocomplete/ac_pointer.gif);
	background-position: 5% 0%;
	background-repeat: no-repeat;
	/* MG2: extra padding for animation */
	padding: 10px 0 6px 0;
}
/* MG2: styles for the new divs to have the background visible while animating (had to use 2 inner divs for IE6) */
div.autocomplete_inner1
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
div.autocomplete_inner2
{
	margin-top: 10px;
	height: 100%;
	width: 100%;
	background-color: #333;
}

div.autocomplete div.ac_header,
div.autocomplete div.ac_footer
{
	position: relative;
	height: 6px;
	padding: 0 6px;
	background-image: url(images/autocomplete/ul_corner_tr.gif);
	background-position: top right;
	background-repeat: no-repeat;
	overflow: hidden;
	/* MG2: background color for animation */
	background-color: #333;
}
div.autocomplete div.ac_footer
{
	background-image: url(images/autocomplete/ul_corner_br.gif);
	/* MG2: updated positioning for animations */
	position: absolute;
	bottom: 0px;
	padding: 0;
	width: 100%;
}

div.autocomplete div.ac_header div.ac_corner,
div.autocomplete div.ac_footer div.ac_corner
{
	position: absolute;
	top: 0;
	left: 0;
	height: 6px;
	width: 6px;
	background-image: url(images/autocomplete/ul_corner_tl.gif);
	background-color: #333;
	background-position: top left;
	background-repeat: no-repeat;
}
div.autocomplete div.ac_footer div.ac_corner
{
	background-image: url(images/autocomplete/ul_corner_bl.gif);
}

/* MG2: removed the ac_bar classes, weren't used anymore */


div.autocomplete ul
{
	list-style: none;
	/* MG: changed margins all to 0, the -4 was causing problems with the maxHeight */
	margin: 0;
	padding: 0;
	/* MG: changed to auto overflow for the maxHeight setting */
	overflow: auto;
	background-color: #333;
	/* MG: added position: relative, otherwise IE6/7 won't overflow correctly */
	position: relative;
}

div.autocomplete ul li
{
	color: #ccc;
	padding: 0;
	/* MG: changed for maxHeight setting, the bottom 4px was causing some problems */
	margin: 0 4px 0;
	text-align: left;
}

div.autocomplete ul li a
{
	color: #ccc;
	display: block;
	text-decoration: none;
	background-color: transparent;
	text-shadow: #000 0px 0px 5px;
	position: relative;
	padding: 0;
	width: 100%;
}
div.autocomplete ul li a:hover
{
	background-color: #444;
}
div.autocomplete ul li.ac_highlight a:hover
{
	background-color: #1B5CCD;
}

/* MG: added ac_warning and ac_message class */
/* MG: ac_warning was called as_warning in your css file, i removed that definition */
div.autocomplete ul li a span,
div.autocomplete ul li.ac_warning,
div.autocomplete ul li.ac_message
{
	display: block;
	padding: 3px 6px;
	font-weight: bold;
}

div.autocomplete ul li a span small
{
	font-weight: normal;
	color: #999;
}

div.autocomplete ul li.ac_highlight a span small
{
	color: #ccc;
}

div.autocomplete ul li.ac_highlight a
{
	color: #fff;
	background-color: #1B5CCD;
	background-image: url(images/autocomplete/hl_corner_br.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

div.autocomplete ul li.ac_highlight a span
{
	background-image: url(images/autocomplete/hl_corner_bl.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
}

/* MG: IE6 positioned the top left and top right corner images invalidly, changes for this fix are called 'IE6 position fix' */
div.autocomplete ul li a .tl,
div.autocomplete ul li a .tr
{
	/* MG: changed background-image:transparent to background-color transparent, as you probably meant */
	background-color: transparent;
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 0;
	/* MG: added left:0, IE6 position fix */
	left: 0;
	padding: 0;
	margin: 0;
}
/* MG: removed the following, IE6 position fix */
/*div.autocomplete ul li a .tr
{
	right: 0;
}*/

div.autocomplete ul li.ac_highlight a .tl
{
	/* MG: removed left:0, (was defined twice now), IE6 position fix */
	background-image: url(images/autocomplete/hl_corner_tl.gif);
	/* MG: changed 'bottom left' to 'top left', IE6 position fix */
	background-position: top left;
}

div.autocomplete ul li.ac_highlight a .tr
{
	/* MG: changed right: 0; to width: 100%, IE6 position fix */
	width: 100%;
	background-image: url(images/autocomplete/hl_corner_tr.gif);
	/* MG: changed 'bottom right' to 'top right', IE6 position fix */
	background-position: top right;
}
div.autocomplete ul em
{
	font-style: normal;
	color: #6EADE7;
}
/* END AUTOCOMPLETE */