/* General */
* {padding:0; margin:0;}
a {color: #194896; text-decoration: none;}
ul {list-style:none;}
body {background-color: #0055a6; font:11px Verdana, Arial, Helvetica, sans-serif; color:#333;}
#wrap {width:400px; margin:auto;}
.hide {display: none;}
.clear {clear:both;}

#login-header {background: url(../images/login_header.jpg) no-repeat; height: 321px;}
#login-footer {background: url(../images/login_footer.jpg) no-repeat; height: 41px;}

#sitename {
	display: block;
	padding-top: 35px;
	height: 73px;
	padding-left: 10px;
	font:bold italic 30px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; text-shadow:#000 1px 1px 1px;
}
#sitename #description {display:block; font:normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif;}

#login-content {
	width: 350px;
	padding-left: 15px;
	float: left;
    margin-top: 60px;
}

#login-content label {
    display: block;
    margin: 0 0 12px;
    padding: 0;
    width: 365px;
    color: white;
}

#login-content .inputtext {
    display: block;
    margin: 5px 0;
    padding: 3px;
    width: 262px;
}

#login-content fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#login-content #btn-login {
    padding: 3px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#login-footer .footer-content {
    text-align: center;
    padding-top: 8px;
    color: silver;
}

.msgboxloading {
	position: absolute;
	width: 100px;
	margin-left: 30px;
	border: 1px solid #c93;
	background: #ffc;
	padding: 3px;
}

/*
.msgboxok {
	position:absolute;
	width:auto;
	margin-left:30px;
	border:1px solid #349534;
	background:#C9FFCA;
	padding:3px;
	font-weight:bold;
	color:#008000;
	
}
*/
.msgboxerr {
	position:absolute;
	width:auto;
	margin-left:30px;
	border:1px solid #CC0000;
	background:#F7CBCA;
	padding:3px;
	font-weight:bold;
	color:#CC0000;
}