/* General */
* {padding:0; margin:0;}
a {color: #194896; text-decoration: none;}
ul {list-style:none;}
body {background-color: #0055a6; font:11px Verdana, Arial, Helvetica, sans-serif; color:#333;}
#wrap {width:894px; margin:auto;}
.hide {display: none;}

/* Main div */
#header {background:url(../images/header.jpg) no-repeat; height:273px;}
#contents {background:url(../images/contentbg.jpg) repeat-y; padding:1px 5px 0 5px;}
#footer {background:url(../images/footer.jpg) no-repeat; height:81px;}

/* Titre du site */
#sitename {
	display: block;
	padding-top: 35px;
	height: 73px;
	padding-left: 10px;
	font:bold italic 30px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; text-shadow:#000 1px 1px 1px;
}
#sitename #description {display:block; font:normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif!important;}

/* Menu */
#topnav{height:56px;}
#topnav ul {padding:14px 15px 0; font: bold 14px "Trebuchet MS", halvetica, Verdana, sans-serif; text-transform:uppercase;}
#topnav li {
	display:block;
	float:left;
	height: 41px;
	background: url(../images/menu_line.gif) no-repeat left top;
	padding-left: 5px;
}
#topnav  a {display: block; height:38px; padding:3px 10px 0 10px; text-decoration:none; color:#7098c6; float:left;}
#topnav li#first {background:none;}
/*#topnav .active a {background:url(../images/menuactive.gif) no-repeat center 27px; color:#184896;}*/
#topnav .active a {color:#184896;}
#topnav a:visited, #topnav a:active {text-decoration:none;} /* color:#7098c6;  */
#topnav a:hover {color:#184896;}

#headercolumn1 {
	width: 550px;
	padding-left: 15px;
	float: left;
}
#headercolumn2 {
	width: 290px;
	float: right;
	padding-right: 15px;
}

.description {
	color:#d2e7ff;
	font:14px "Trebuchet MS", helvetica, Verdana, sans-serif;
	display:block;
	padding-top: 25px;
}

/* Homepage content */
#homepage { padding: 15px 0; }
#homepage .leftcol {
    width: 300px;
    min-height: 300px;
    padding: 0 5px;
}
#homepage .rightcol {
    width: 565px;
    padding: 0 5px;
    float: right;
}
#homepage .onecol
{
    width: auto;
    padding: 0 5px;
}

#homepage .bodycontent {
    width: 875px;
    padding: 0 5px;
}

.subhead {display:block; background:url(../images/subheadbg.jpg) repeat-x; height:25px; padding:3px 5px 0 5px;}
.subhead2 {display:block; height:20px; padding:3px 10px 0 10px;}

.services li {display:block; padding:3px 5px 3px 5px; margin:5px 0 3px; height:46px; border-bottom:solid 1px #ccc;}

.rightcol li {display:block; padding:3px 5px 3px 40px; margin:5px 0 3px; height:46px; border-bottom:solid 1px #ccc;}

/*
.rightcol li.idea {background:url(../images/ideaicon.png) no-repeat; }
.rightcol li.design {background: url(../images/designicon.png) no-repeat; }
.rightcol li.apps {background: url(../images/interneticon.png) no-repeat; }
.rightcol li.mobile {background: url(../images/mobileicon.png) no-repeat; }
.rightcol li.notification{background: url(../images/notification_icon.png) no-repeat; }
.rightcol li.warning{background: url(../images/warning_icon.png) no-repeat; }
.rightcol li.accepted {background: url(../images/accepted_icon.png) no-repeat; }
.rightcol li.rejected {background: url(../images/rejected_icon.png) no-repeat; }
.rightcol li.alert{background: url(../images/alert_icon.png) no-repeat; }
.rightcol li.alert-calendar{background: url(../images/calendaralert_icon.png) no-repeat; }
*/
.rightcol li.alert_icon {background: url(../images/alert_icon.png) no-repeat; }
.rightcol li.bluenotification_icon {background: url(../images/information_baloon_blue_icon.png) no-repeat}
.rightcol li.list_icon {background: url(../images/list_icon.png) no-repeat}

.leftcol li {display:block; padding:3px 5px 3px 40px; margin:5px 0 3px; height:46px; border-bottom:solid 1px #ccc;}
.leftcol li.warning_icon {background: url(../images/warning_icon.png) no-repeat; }
.leftcol li.alert_calendar {background: url(../images/calendaralert_icon.png) no-repeat; }
.leftcol li.preferences_icon {background: url(../images/config_icon.png) no-repeat; }
.leftcol li.add_icon {background: url(../images/add_icon.png) no-repeat; }
.leftcol li.book_icon {background: url(../images/book_icon.png) no-repeat; }
.leftcol li.lock_icon {background: url(../images/lock_icon.png) no-repeat; }
.leftcol li.folderbackup_icon {background: url(../images/folder_backup_icon.png) no-repeat}
.leftcol li.tasks_icon {background: url(../images/tasks_icon.png) no-repeat}
.leftcol li.report_icon {background: url(../images/report_icon.png) no-repeat}
.leftcol li.contacts_icon {background: url(../images/contacts_icon.png) no-repeat}
.leftcol li.idea_icon {background: url(../images/ideaicon.png) no-repeat}

/**** Edit content ****/
.tbl-edit {
    margin: auto;
    margin-top: 20px;
    width: 850px;
    border: 1px solid #cbcbcb;
    background-color: #fafafa;
    
    -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.05);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.tbl-edit th {
    background: -webkit-linear-gradient(top, #e9eaec 0%,#d4d4d6 100%);
    background: -moz-linear-gradient(top, #e9eaec 0%,#d4d4d6 100%);
    
    font-size: 18px;
    line-height: 10px;
    padding: 10px 0;
    border-bottom: 2px solid rgba(0,0,0,.15);
    border-top: 1px solid rgba(255,255,255,.9);
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-shadow: 0 1px 1px #fff;
}

.tbl-edit td {
    border-top: 2px solid #fefefe;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding: 13px 0;
    
    margin: 0;
    padding: 5px 0 5px 10px;
}

.tbl-edit .col1 {
    width: 200px;
}

.tbl-edit .col2 {
    
}

.tbl-edit textarea {
    width: 95%;
    resize: none;
}

.tbl-edit .input-txt {
    width: 95%;    
}

.tbl-edit .input-date {
    width: 120px;
}

.tbl-edit .select-cmb {
    width: 200px;
}

  /* Innter table */

.tbl-edit .inner-tbl-edit {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;
    text-align: center;
    border: 1px solid #cbcbcb;
    background-color: #fafafa;
}

.tbl-edit .inner-tbl-edit th {
    background: -webkit-linear-gradient(top, #e9eaec 0%,#d4d4d6 100%);
    background: -moz-linear-gradient(top, #e9eaec 0%,#d4d4d6 100%);
    font-size: 14px;
    line-height: 10px;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0,0,0,.15);
    border-top: 1px solid rgba(255,255,255,.9);
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-shadow: 0 1px 1px #fff;
}

.tbl-edit .inner-tbl-edit td {
    border-top: 2px solid #fefefe;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding: 5px 0;    
}

.tbl-edit .inner-tbl-edit .col1 {
    width: 40px;
}

.tbl-edit .inner-tbl-edit .col2 {
    width: 40px;
}

.tbl-edit .inner-tbl-edit .col3 {
    width: auto;
}

.tbl-edit .inner-tbl-edit .col4 {
    width: 120px;
}

.tbl-edit .inner-tbl-edit .col5 {
    width: 120px;
}

.tbl-edit .inner-tbl-edit textarea {
    width: 95%;
    resize: none;
}

.tbl-edit .inner-tbl-edit .input-txt {
    width: 80%;    
}

.div-btnbar {
    margin: 10px 10px 10px 10px;
    padding: 5px 0 5px 0;    
}
/**** End of Row edit proforma ****/

/**** Gradient buttons ****/

.btnGradientBlue {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 10px;
	background: -moz-linear-gradient(
	   top,
	   #429dff 0%,
	   #371fed);
	background: -webkit-gradient(
	   linear, left top, left bottom, 
	   from(#429dff),
	   to(#371fed));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #131380;
	-moz-box-shadow:
	   0px 1px 3px rgba(000,000,000,0.5),
	   inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
	   0px 1px 3px rgba(000,000,000,0.5),
	   inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
	   0px 1px 3px rgba(000,000,000,0.5),
	   inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
	   0px -1px 0px rgba(000,000,000,0.4),
	   0px 1px 0px rgba(255,255,255,0.3);
}

.btnGradientRed {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 10px;
	background: -moz-linear-gradient(
	   top,
	   #ff4242 0%,
	   #ed1f1f);
	background: -webkit-gradient(
	   linear, left top, left bottom, 
	   from(#ff4242),
	   to(#ed1f1f));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #801313;
	-moz-box-shadow:
	   0px 1px 3px rgba(000,000,000,0.5),
	   inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
	   0px 1px 3px rgba(000,000,000,0.5),
	   inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
	   0px 1px 3px rgba(000,000,000,0.5),
	   inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
	   0px -1px 0px rgba(000,000,000,0.4),
	   0px 1px 0px rgba(255,255,255,0.3);
}

.btnGradientGreen {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 10px;
	background: -moz-linear-gradient(
	   top,
	   #58ff42 0%,
	   #20a11a);
	background: -webkit-gradient(
	   linear, left top, left bottom, 
	   from(#58ff42),
	   to(#20a11a));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #188013;
	-moz-box-shadow:
	   0px 1px 3px rgba(000,000,000,0.5),
	   inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
	   0px 1px 3px rgba(000,000,000,0.5),
	   inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
	   0px 1px 3px rgba(000,000,000,0.5),
	   inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
	   0px -1px 0px rgba(000,000,000,0.4),
	   0px 1px 0px rgba(255,255,255,0.3);
}

/* footer */
#footer .footercontent {
	text-align: center;
	padding-top: 15px;
	color: #FFFFFF;
}

.footercontent a {color: #ffffff;}
.footercontent a:visited, .footercontent a:active  {color: #fff;}
.footercontent p {
	margin-bottom: 5px;
    font-size: 10px;
}

/* Miscelanneous */
.toggleSuccess {
    width: auto;
   	border:1px solid #349534;
	background:#C9FFCA;
	padding:3px;
	font-weight:bold;
	color:#008000;
}

.toggleError {
	width:auto;
	border:1px solid #CC0000;
	background:#F7CBCA;
	padding:3px;
	font-weight:bold;
	color:#CC0000;
}

/***** Modal dialog ************/
#dialog-box {
   width: 900px;
   display:none;
}

/* En tête du modal form */
#dialog-box .dialog-header {
    height: 30px;
    overflow: auto;
    background-color: #cccccc;
    border-radius: 5px;
    padding: 5px;
    border:1px solid #000000;
    
    -moz-box-shadow:
	   0px 1px 3px rgba(000,000,000,0.5),
	   inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
	   0px 1px 3px rgba(000,000,000,0.5),
	   inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
	   0px 1px 3px rgba(000,000,000,0.5),
	   inset 0px 0px 2px rgba(255,255,255,1);
}

#dialog-box .dialog-content {
   height: 500px;
   overflow: auto;
}

#dialog-box .dialog-footer {
   /* style the content */
   padding: 10px;
   margin: 5px;
}

/* Notification dialog */
.notification-dialog
{
    width: 1024px;
    display:none;
}

.notification-dialog .dialog-content {
   height: 240px;
   overflow: auto;
}

.notification-dialog .dialog-footer {
   /* style the content */
   padding: 10px;
   margin: 5px;
}

/* Message dialog */
.message-dialog
{
    width: 320px;
    display:none;
}

.message-dialog .dialog-content {
   height: 100px;
   overflow: auto;
}

.message-dialog .dialog-footer {
   /* style the content */
   padding: 10px;
   margin: 5px;
}

.wrap-pagination {
    /*background-color: #AAAAAA;*/
    border: 1px dashed #000000;
    font-family: "Courier New",Courier,monospace;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.wrap-pagination a
{
	margin: 10px auto 0 auto;
	text-align: center;
	background-color: #0066FF;
	display: compact;
	padding: 5px 10px 6px;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	line-height: 2;
    display: inline;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
}

.wrap-pagination .inactive_anchor {
    background-color: #555555;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-weight: bold;
    line-height: 2;
    margin: 10px auto 0;
    padding: 5px 10px 6px;
    position: relative;
    text-align: center;
    text-decoration: none;
}