<div id="homepage">
    <div class="bodycontent">
        <div>
            <table class="tbl-edit" border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>Workflow</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div style="left: auto; margin: 0 0 0 100px;">
                                <img src="{path_img}goodies/workflow.png" alt="img_workflow">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>