        <div id="homepage">
            <div class="bodycontent">
                <form id="form-cotation" action="#" method="post">
                    <table class="tbl-edit" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="col1"><strong>Nom et version</strong></td>
                            <td class="col2">Wide Manager CRM version 1 beta</td>
                        </tr>
                        <tr>
                            <td class="col1"><strong>Plateforme</strong></td>
                            <td class="col2">PHP 5 - CodeIgniter 2.1.2</td>
                        </tr>
                        <tr>
                            <td class="col1"><strong>Base de données</strong></td>
                            <td class="col2">MySql server</td>
                        </tr>
                        <tr>
                            <td class="col1"><strong>Développé par</strong></td>
                            <td class="col2">r.mitanjo@gmail.com</td>
                        </tr>
                    </table>                    
                </form>
            </div>
        </div>